body{
    margin: auto;
    width: 60%;
    text-align: center;
    padding: 10px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}


.message {
    width: 400px;
    
}

.message .paragraph {
    width: 100%;
    background: #fff;
    padding: 4px 10px;
    margin: 4px 0px;
    
}
.message .innerDiv{
    width: 100%;

}

.message .innerDiv button {

    padding: 5px;
    font-size: 14px;
    border: none;
    outline: none;
    margin-left: 5px;
    cursor: pointer; 
}